.blocs_wrapper {
    margin: 0 5px 5px 5px;
    position: relative;
    font-size: 10px;
}
.blocs_wrapper:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.blocs_wrapper .bloc_over_wrapper {
    position: relative;
    width: 190px;
    margin: 14px;
    padding: 8px;
    border: 1px solid #ccc;
    float: left;
    border-radius: 15px;
}
.blocs_wrapper .bloc_over_wrapper.on {
    border: 5px solid #607890;
    margin: 10px;
}
.blocs_wrapper .bloc_select {
    position: absolute;
    visibility: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    text-align: center;
}
.blocs_wrapper .bloc_select label {
    cursor: pointer;
}